 <!-- banner -->
<!-- main image slider container -->
<div id="slider-main">
    <div class="banner-text-agile text-center">
        <div class="container">
            <h3 class="text-white font-weight-bold mb-3">The Taste Of Our Amazing Sweets</h3>
            <a href="/Home/Items" type="button" class="btn btn-primary button mt-md-5 mt-4">
                <span>View Products</span>
            </a>
        </div>
    </div>
    <!-- previous button -->
    <button id="prev">
        <i class="fas fa-chevron-left"></i>
    </button>

    <!-- image container -->
    <div id="slider"></div>

    <!-- next button -->
    <button id="next">
        <i class="fas fa-chevron-right"></i>
    </button>

    <!-- small circles container -->
    <div id="circles"></div>

</div>
<!-- end of main image slider container -->
<!-- //banner -->
<!-- banner bottom icons -->
<!-- //banner bottom icons -->
<!-- //main -->
<!-- banner-bottom -->
<section class="banner-main-agiles py-5">
    <div class="banner-bottom-w3layouts" id="about">
        <div class="container pt-xl-5 pt-lg-3">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <p class="text-uppercase">A few words</p>
                    <h3 class="aboutright">Welcome to Aapka Store</h3>
                    <p>
                        “AapkaStore” is a website that helps customers who intend to buy things online. Customers can easily navigate through the website and find the desired product category wise or individually. Product ordered through the website is delivered to the customer’s desired place.
                        The project is aimed to manage the details of Products, Sale, Stock, Purchase and Date Wise Sale. It also manages all information about the Vendors, Sales Man and its Reporting. The project is totally built at administrator and user end of things. Only the administrator is guaranteed to have full control on the application. It provides search facility such as searching for Stock, Products and Vendors/Company.
                    </p>
                   
                    <a href="/Home/Items" type="button" class="btn btn-primary button mt-md-5 mt-4" onclick="window.location='about.html'">
                        <span>View Products</span>
                    </a>
                </div>
                <div class="col-lg-6 about-img text-lg-enter">
                    <img src="/User/images/about.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>


    </div>
   
</section>

<!-- services -->
<div class="serives-agile py-5 bg-light border-top" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="row support-bottom text-center">
            <div class="col-md-4 support-grid">
                <i class="far fa-heart"></i>
                <h5 class="text-dark text-uppercase mt-4 mb-3">Made With Love</h5>
            </div>
            <div class="col-md-4 support-grid my-md-0 my-4">
                <i class="fas fa-birthday-cake"></i>
                <h5 class="text-dark text-uppercase mt-4 mb-3">Seasonal Pastries</h5>
            </div>
            <div class="col-md-4 support-grid">
                <i class="far fa-calendar"></i>
                <h5 class="text-dark text-uppercase mt-4 mb-3">Event Catering</h5>
            </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- stats section -->
<div class="middlesection-agile ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-left text-center pt-4">
                <img src="/User/images/women.png" alt="" class="img-fluid women-style" />
            </div>
            <div class="col-lg-6 left-build-wthree aboutright-agilewthree mt-0 py-5">
                <div class=" py-xl-5 py-lg-3">
                    <h2 class="title-2 text-white mb-sm-5 mb-4">Some Statistical Facts</h2>
                    <div class="row mb-xl-5 mb-4">
                        <div class="col-4 w3layouts_stats_left w3_counter_grid">
                            <p class="counter">1680</p>
                            <p class="para-text-w3ls text-light">Popularity</p>
                        </div>
                        <div class="col-4 w3layouts_stats_left w3_counter_grid2">
                            <p class="counter">1200</p>
                            <p class="para-text-w3ls text-light">Happy Customers</p>
                        </div>
                        <div class="col-4 w3layouts_stats_left w3_counter_grid1">
                            <p class="counter">400</p>
                            <p class="para-text-w3ls text-light">Awards Won</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //stats section -->


<!-- support -->
<div class="serives-agile py-5" id="support">
    <div class="container py-xl-5 py-lg-3">
        <div class="title text-center mb-5">
            <h3 class="text-dark mb-2">Help & Support</h3>

        </div>
        <div class="row support-bottom text-center">
            <div class="col-md-4 support-grid">
                <i class="fas fa-headphones"></i>
                <h5 class="text-dark text-uppercase mt-4 mb-3">Online Support</h5>

            </div>
            <div class="col-md-4 support-grid my-md-0 my-5">
                <i class="far fa-comments"></i>
                <h5 class="text-dark text-uppercase mt-4 mb-3">Live Chat 24/7</h5>

            </div>
            <div class="col-md-4 support-grid">
                <i class="fas fa-question"></i>


            </div>
        </div>
    </div>
</div>
<!-- support -->